.answer {
    padding: 16px 15px;

    background-color: rgb(230, 248, 254);
    border-left: 4px solid lightblue;

    cursor: pointer;
}

.answer:hover {
    background-color: lightblue;
}

main {
    margin-bottom: 20px;
}

.answer-state {
    height: 250px;
}

.pass {
    background-color: green;
}

.fail {
    background-color: red;
}